node*
vendor*
# ignore all . files and . folders
.*
/css*
/sass*
/favicons*
package.json*
gulpfile.js
# Don't ignore .gitignore (this file)
# This is just for verbosity, you can leave it out if
# .gitignore is already tracked or if you use -f to
# force-add it if you just created it
!/.gitignore
